#perfil-carrinho-menu div{
    display: inline-block;
    vertical-align: middle;
}
#menu-carrinho{
    padding-right: 20px;
    cursor: pointer;
}
#menu-perfil{
    padding-left: 20px;
    cursor: pointer;
}
#menu-perfil img{
    width: 45px;
}
#logo-menu{
    width: 20%;
}
#menu-perfil img:hover{
    border: 2px solid hsl(26, 100%, 55%);
    border-radius: 50%;
}
#carrinho-flutuante{
    position: absolute;
}
#titulo-carrinho{
    font-size: 15px;
    margin: 0;
    padding: 10px 15px 15px 15px;
}
hr{
    margin: 0;
    opacity: 20%;
}
#itens-carrinho{
    position: absolute;

    font-size: 14px;
    top: calc(50% - 5px);
    left: calc(50% - 60px);

    font-weight: bold;
    color: hsl(219, 9%, 45%);
}
#outras-imagens img:hover{
    opacity: 0.7 !important;
}
.bt-passar{
    display: table;
    position: absolute;
    width: 50px;
    height: 50px;

    border-radius: 50%;
    border: 0;
    top: 220px;
    cursor: pointer;
}
.bt-passar:hover path{
    stroke: hsl(26, 100%, 55%);
}
.bt-passar svg{
    display: table-cell;
    vertical-align: middle;
    margin: auto;
}
#next{
    right: -30px;
}
#previus{
    left: -30px;
}
#conteudo-compania{
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: hsl(26, 100%, 55%);
    font-weight: bold;
}
#conteudo-nomeProduto{
    font-size: 37px;
    margin: 5px 0 5px 0;
}
#descrição-produto{
    color: hsl(219, 9%, 45%);
    font-size: 14px;
    margin: 20px 0 20px 0;
    width: 400px;
}
#preço{
    padding-top: 10px;
    font-size: 25px;
    font-weight: bold;
}
#desconto{
    font-size: 15px;
    margin-left: 20px;
    background-color: hsl(25, 100%, 94%);
    color: hsl(26, 100%, 55%);
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
}
s{
    font-size: 14px;
    display: flex;
    color: hsl(220, 14%, 75%);
    font-weight: bold;
    padding: 10px 0 10px 0;
}
#quantidade{
    display: table;
    width: 200px;
    background-color: hsl(223, 64%, 98%);
}
#quantidade-indicador{
    display: table-cell;
    text-align: center;
    width: 33%;
}