#perfil-carrinho-menu div{
    display: inline-block;
    vertical-align: middle;
}
#menu-carrinho{
    padding-right: 20px;
    cursor: pointer;
}
#menu-perfil{
    padding-left: 20px;
    cursor: pointer;
}
#menu-perfil img{
    width: 45px;
}
#logo-menu{
    width: 20%;
}
#menu-perfil img:hover{
    border: 2px solid hsl(26, 100%, 55%);
    border-radius: 50%;
}
#carrinho-flutuante{
    position: absolute;
}
#titulo-carrinho{
    font-size: 15px;
    margin: 0;
    padding: 10px 15px 15px 15px;
}
hr{
    margin: 0;
    opacity: 20%;
}
#itens-carrinho{
    position: absolute;

    width: 100%;
    font-size: 14px;
    top: calc(50% - 5px);
    left: calc(50% - 60px);

    font-weight: bold;
    color: hsl(219, 9%, 45%);
}
#outras-imagens img:hover{
    opacity: 0.7 !important;
}
.bt-passar{
    display: table;
    position: absolute;
    width: 50px;
    height: 50px;

    border-radius: 50%;
    border: 0;
    top: 220px;
    cursor: pointer;
}
.bt-passar:hover path{
    stroke: hsl(26, 100%, 55%);
}
.bt-passar svg{
    display: table-cell;
    vertical-align: middle;
    margin: auto;
}
#next{
    right: -30px;
}
#previus{
    left: -30px;
}
#conteudo-compania{
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: hsl(26, 100%, 55%);
    font-weight: bold;
}
#conteudo-nomeProduto{
    font-size: 37px;
    margin: 5px 0 5px 0;
}
#descrição-produto{
    color: hsl(219, 9%, 45%);
    font-size: 14px;
    margin: 20px 0 20px 0;
    width: 400px;
}
#preço{
    padding-top: 10px;
    font-size: 25px;
    font-weight: bold;
}
#desconto{
    font-size: 15px;
    margin-left: 20px;
    background-color: hsl(25, 100%, 94%);
    color: hsl(26, 100%, 55%);
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
}
s{
    font-size: 14px;
    display: flex;
    color: hsl(220, 14%, 75%);
    font-weight: bold;
    padding: 10px 0 10px 0;
}
.quantidade{
    margin-top: 20px;
    border-radius: 5px;
    display: table;
    width: 140px;
    height: 40px;
    background-color: hsl(223, 64%, 98%);
}
.quantidade-indicador{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
}
.bt-qnt{
    cursor: pointer;
    position: absolute;
    border: 0;
    background-color: transparent;
}
#bt-menos{
    margin-top: 10px;
    margin-left: 10px;
}
#bt-mais{
    margin-top: 13px;
    margin-left: -30px;
}
#bt{
    position: absolute;
    margin-top: -40px;
    margin-left: 175px;
}
#bt-addcarrinho{
    position: absolute;
    width: 200px;
    height: 40px;

    border-radius: 5px;
    border: 0;

    background-color: hsl(26, 100%, 55%);
    box-shadow: 0 10px 20px hsla(26, 100%, 55%, 0.541);

    cursor: pointer;
}
#bt-addcarrinho span{
    position: absolute;

    top: calc(50% - 6px);
    left: calc(50% - 20px);

    color: white;
    font-weight: bold;
    font-size: 13px;
}
#bt-addcarrinho svg{
    position: absolute;

    top: calc(50% - 10px);
    left: calc(50% - 50px);
}
#produtojadentro{
    display: inline;
    width: 100%;
    height: 100%;
}
.produto{
    margin-left: -40px;
    padding-top: 10px;
}
#img-produto-checkout img{
    position: absolute;
    top: -30px;
    left: -72px;
    width: 46px;
    border-radius: 5px;
}
#produto-preço-checkout{
    position: absolute;
    width: 200px;
    top: -45px;
    left: -10px;
    color: hsl(219, 9%, 45%);
    font-weight: lighter;
}
#produto-preço-checkout p{
    margin-top: -13px;
    font-size: 13px;
}
#produto-preço-checkout span{
    font-weight: bold;
    color: black;
    margin-left: 5px;
}
#deletar-produto img{
    position: absolute;
    top: -15px;
    margin-left: 210px;
    cursor: pointer;
}
#finalizar-compra button{
    position: absolute;
    margin-top: 20px;
    height: 45px;
    width: 270px;
    background-color: hsl(26, 100%, 55%);
    border: 0;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
#qnt-compras{
    position: absolute;
    margin-top: -5px;
    margin-left: 10px;
    width: 15px;
    height: 10px;
    border-radius: 25px;
    background-color: hsl(26, 100%, 55%);
    visibility: hidden;
    text-align: center;
    font-size: 8px;
    color: white;
}